html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.text-justify {
    text-align: justify;
}

.navbar {
    background-color: #F2CEE6;
}

main {
    background-color: #FFEDED;
}

#btn {
    background-color: #63BB89;
}

#form {
    background-color: white;
    opacity: 0.5;
}

#card {
    background-color: #81C3D7;
}

.footer {
    background-color: #F2CEE6;
}